<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- more bean definitions go here -->

    <!--    Util Beans Section  start -->
    <bean name="randomNumberGenerator" class="java.util.Random"/>
    <bean name="gson" class="com.google.gson.Gson"/>
    <!--    Util Beans Section  end -->

    <!--    Service Beans Section start-->
    <bean name="studentService" class="com.example.springxml.service.impl.StudentService">
        <property name="defaultStudentName" value="Wahram"/>
    </bean>
    <bean name="courseService" class="com.example.springxml.service.impl.CourseService">
        <property name="defaultCourseName" value="Java Professional"/>
    </bean>
    <bean name="studentCourseService" class="com.example.springxml.service.impl.StudentCourseService" autowire="byType">
        <property name="courseService" ref="courseService"/>  <!-- inject force-->
        <!--        <property name="studentService" ref="studentService"/>-->  <!-- inject automaticaly by type-->
    </bean>
    <bean name="teacherService" class="com.example.springxml.service.impl.TeacherService">
        <constructor-arg name="courseService" ref="courseService"/>
        <constructor-arg name="teacherDefaultName" value="Karen Darbinyan"/>
    </bean>


    <bean name="serviceHolderFactory" class="com.example.springxml.service.ServiceHolderFactory"/>
    <bean name="serviceHolder"
          class="com.example.springxml.service.ServiceHolder"
          autowire="byType"
          factory-bean="serviceHolderFactory"
          factory-method="createServiceHolder"
    />
    <!--    Service Beans Section start-->


    <!--    Model Beans Section start-->

    <!--    Model Beans Section end-->
</beans>
